# 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
//npm.pkg.github.com/:_authToken=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

# "name":"@tcvduc/matrix"

# Registry 
@tcvduc99:registry=https://npm.pkg.github.com