# 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
//npm.pkg.github.com/:_authToken=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

# "name":"@tcvduc/matrix"

# Registry 
@tcvduc:registry=https://github.com/tcvduc/matrix

